body{
    
    background-image: url('tile.png');
    cursor: pointer;
    
}
.container-ww{
    margin-top: 0;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 965px;
}


li{
    display:inline-flex;  
    
}

.second-row>ul>li>img{
    padding: 20px;  
}
     

h1{
    font-family: times, Helvetica, sans-serif;
    font-size: 112px;
    font-weight: 700px;
    color: #ffff;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    font-family: "Comic Sans", "Comic Sans MS";
    font-size:40px;
    color:  #fff54f;
    margin: 0;
    font-weight: normal;   
}

#w1{
    padding-top: 0px;
}

p{
    text-align: left;
    color: #fff54f;
    font-size: 25px;
    font-family: "Comic Sans", "Comic Sans MS";
    font-weight: bold;
    margin-left: 50px;
    line-height: 1.2em;
}

.bow-left{
    background-image: url("bow_left.png");
    background-repeat: no-repeat;
    height:77px;
    width: 47px;
    position: absolute;

}

.bow-right{
    background-image: url("bow_right.png");
    background-repeat: no-repeat;
    height:77px;
    width: 47px;
    position: absolute;

}

.na,a{
    font-size: 16px;
    color: #ffff;
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans", "Comic Sans MS";
    font-weight: 400px;
    margin-left: 40px;
}


.aff>.cp{
    font-size: 12px;
    font-weight:lighter;
    color: #000000;
    font-style: normal;
    text-align: center;
}

.medium-cw{
    text-align: center;
    color: #ffff;
}
.counter>p{
    text-align: center;
    
}

#count{
    display: grid;
    margin-left: 315px;
    padding-top: 5px;
}

.donate{
    background-color:#000000;
    width: 840px;
    height: 185px;
    margin: 0 auto;
    padding: 8px;   
}


.l-copy{
    font-size: 42px;
    text-align: center;
    background-repeat: no-repeat;    
}  


.small-copy{
    color:#ffff;
    font-size: 21px;
    font-weight: 700px;
}

.donate-buttom{
    margin-top: 30px;
    margin-bottom: 30px;
}

.small-p{
    font-size:42px;
    color: #ffe107;
    text-align: center; 
}

.forty-row>li>#walt6{
padding-left: 200px;
}
